{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}{{isp_name}} Kundenlogin{% endblock %}

{% block content %}
<div class="page-header container">
    <h1 class="with-logo">Kundencenter</h1>
</div>

<div class="container">
    <p>Bitte loggen Sie sich ein, um das {{isp_name}} Kundencenter zu nutzen.</p>

    <form class="form-signin" role="form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" id="submit" name="submit" value="Sign in" />
        <input type="hidden" name="next" value="{{ next }}" />        
    </form>
</div>
{% endblock %}