{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
{% include "nav.html" %}

<div class="page-header container">
	{% include "messages.html" %}
	<a name="achievements"></a>
	<h1>{{isp_name}} Bonusprogramm</h1>
	<p>

		Aufbauend auf dem erfolgreichen Bonusprogramm bieten wir unseren besten Kunden (so genannten "Powersurfern") exklusive Partnerangebote. Im Rahmen dieses Programms Bonuspunkte k&ouml;nnen gegen schnellere Internetverbindungen, modernere Telefone und vieles mehr eingetauscht werden.
	</p>
	<p>
		<strong>Powerkunden surfen besser.</strong>
		Aufbauend auf dem erfolgreichen Bonusprogramm bieten wir unseren besten Kunden (so genannten "Powersurfern") exklusive Partnerangebote. Im Rahmen dieses Programms Bonuspunkte k&ouml;nnen gegen schnellere Internetverbindungen, modernere Telefone und vieles mehr eingetauscht werden.
	</p>
	<p>
		
		Aufbauend auf dem erfolgreichen Bonusprogramm bieten wir unseren besten Kunden (so genannten "Powersurfern") exklusive Partnerangebote. Im Rahmen dieses Programms Bonuspunkte k&ouml;nnen gegen schnellere Internetverbindungen, modernere Telefone und vieles mehr eingetauscht werden.
	</p>

	<form action="{% url 'achievements' %}" method="post">
		{% csrf_token %}
		{{form|bootstrap}}
		<input type="submit" value="Einl&ouml;sen" />
	</form>
</div>
<div class="container">
	{% for id, g in groups.items %}
	<a name="achievement-group-{{group.id}}"></a>
	<h1>{{g.group.title|escape}}</h1>
	<p>{{g.group.description|escape}}<p>
	<div class="container">
	{% for a in g.available %}
		{% with a.achievement as a %}
		<div class="col-md-6 col-md-offset-1 achievement-item achievement-hidden">
			<h2 class="achievement-title">{{a.title|escape}}</h2>
			<span class="achievement-reward">({{a.reward|escape}} points)</span>
			{% if a.image %}
				<img src="{{a.image.url}}" class="img-thumbnail achievement-image" />
			{% else %}
				<img src="{% static 'store/unknown.png' %}" class="img-thumbnail achievement-image" />
			{% endif %}
			<p class="achievement-desc">{{a.hint|escape}}</p>
			<br style="clear:both;" />
		</div>
		{% endwith %}
	{% endfor %}
	{% for a in g.achieved %}
		<div class="col-md-6 col-md-offset-1 achievement-item">
			<h2 class="achievement-title">{{a.title}}</h2>
			<span class="achievement-reward">({{a.reward|escape}} Punkte)</span>
			{% if a.image %}
				<img src="{{a.image.url}}" class="img-thumbnail achievement-image" />
			{% else %}
				<img src="{% static 'store/unknown.png' %}" class="img-thumbnail achievement-image" />
			{% endif %}
			<p class="achievement-desc">{{a.description|escape}}</p>
			<br style="clear:both;" />
		</div>
	{% endfor %}
	</div>
	{% endfor %}
</div>
{% endblock %}