{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load get_item %}

{% block content %}
{% include "nav.html" %}

<div class="page-header container">
	{% include "messages.html" %}
	<a name="achievements"></a>
	<h1>{{isp_name}} Bonusprogramm</h1>
	<p>
		<strong>Surfen und Gewinnen!</strong>
		Bei einem normalen ISP wären Sie einfach nur Kunde. Hier bei {{isp_name}} sind sie automatisch auch ein Gewinner. Und zwar nicht nur einmal - sondern immer!
		Solange Sie unsere Telekommunikations-Produkte nutzen, können Sie jederzeit neue Rekorde aufstellen und sich dafür belohnen lassen. 
	</p>
	<p>
		Ihre Belohnung sind Bonuspunkte! Bonuspunkte erhalten Sie als unermüdlicher Entdecker quasi automatisch: Verschicken Sie Pakete im Netzwerk, laden Sie Daten runter und rauf, brechen Sie Rekorde! Oder erkunden Sie das Internet und finden versteckte Geheimnisse (sogenannte "Flags", erkennbar am 12-stelligen Code). Sie merken schon - Punkte sammeln sich fast von alleine.
	</p>
	<p>
		Und das allerbeste - Mit Punkten können sie kostenlos <a href="/upgrades">Ihren Vertrag aufwerten</a>. Dieses Bonusprogramm ist unsere Art, uns bei Ihnen für Ihre Treue zu bedanken! Und es ist der Grund, warum {{isp_name}} so viel besser ist als andere Internetanbieter!
	</p>

	<form action="{% url 'achievements' %}" method="post">
		{% csrf_token %}
		{{form|bootstrap}}
		<input type="submit" value="Einl&ouml;sen" />
	</form>
</div>
<div class="container">
	{% for id, g in groups.items %}
	<a name="achievement-group-{{group.id}}"></a>
	<h1>{{g.group.title|escape}}</h1>
	<p>{{g.group.description|escape}}<p>

	{% for av in g.achievements %}
		{% with achievements|get_item:av as a %}
			{% include 'store/achievement.html' %}
		{% endwith %}
	{% endfor %}

	{% endfor %}
</div>
{% endblock %}