{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{isp_name|escape}}{% endblock %}

{% block content %}
{% include "nav.html" %}

<div class="container">
	<div class="jumbotron">
		<h1>{{isp_name}} Kundenportal</h1>
		<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
		<p><a class="btn btn-lg btn-success" href="{% url 'upgrades' %}" role="button">Jetzt Tarifoptionen buchen</a></p>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<h2>Erkunden Sie das Netz!</h2>
			<p>Mit dem {{isp_name}} Bonusprogramm k&ouml;nnen Sie Ihren Fortschritt in den Weiten des Internets in Echtzeit mitverfolgen. Zeigen Sie allen Ihren Freunden, wie toll Sie sind!</p>
			<p><a class="btn btn-primary" href="{% url 'achievements' %}" role="button">Mehr erfahren &raquo;</a></p>
		</div>

		<div class="col-lg-4">
			<h2>Tarifoptionen</h2>
			<p>Aufbauend auf dem erfolgreichen Bonusprogramm bieten wir unseren besten Kunden (so genannten "Powersurfern") exklusive Partnerangebote. Bonuspunkte k&ouml;nnen gegen schnellere Internetverbindungen, modernere Telefone und vieles mehr eingetauscht werden.</p>
			<p><a class="btn btn-primary" href="{% url 'upgrades' %}" role="button">Mehr erfahren &raquo;</a></p>
		</div>

		<div class="col-lg-4">
			<h2>Karriere bei {{isp_name}}</h2>
			<p>Sie wollen wachsen. Mehr erreichen. Unbekanntes anpacken. All das ist bei uns möglich, für Senkrechtstarter, Neu- und Querdenker. Karriere kennt bei {{isp_name}} viele Wege. Einfach, spannend, individuell.</p>
			<p><a class="btn btn-primary" href="{% url 'career' %}" role="button">Mehr erfahren &raquo;</a></p>
		</div>
	</div>
</div>
{% endblock %}