{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "nav.html" %}

<div class="page-header container">
	{% include "messages.html" %}
	<a name="achievements"></a>
	<h1>Tarifoptionen</h1>
	<p>
		<strong>Grenzen sind sowas von gestern.</strong>
		Wir bei {{isp_name}} sind &uuml;berzeugt, dass Tarife, die Sie als Kunden ausgebremsen, schon lange nicht mehr zeitgem&auml;&szlig; sind. 
		Eingeschränkte Bandbreite? Spam-Plage im Postfach? Hohe Latenzen? Warteschlangen im Callcenter? 
		Solchen Abzocker-Gesch&auml;ften haben wir den Kampf angesagt!
	</p>
	<p>
		<strong>Willkommen in der Welt der grenzenlosen Gelekommunikation.</strong>
		Mit {{isp_name}} sind Sie, jederzeit voll auf der H&ouml;he der Technik. Pfeilschnelles Internet! Moderne Hardware bei Ihnen zu Hause! Ein Spam-freies Postfach! Zuvorkommender Telefon- und Email-Support! Modernste Technologien, von SMTP bis hin zu 24-Min-Reconnect! Kostenlose Technikerbesuche bei Ihnen vor Ort! <strong>Kein Problem!</strong> Wir haben keine Kosten und M&uuml;hen gescheut und machen all das f&uuml;r Sie möglich!
	</p>
	<p>
		<strong>Mittendrinn statt nur dabei.</strong>
		Das beste ist, dass all der Service für Sie sofort und kostenlos verfügbar ist. Aufbauend auf dem erfolgreichen Bonusprogramm bieten wir unseren treusten Kunden - also Ihnen - all diesen Service in Form unserer exklusive Partnerangebote. Schlagen sie jetzt zu und <strong>Stellen sie sich ihr persönliches Bonus-Portfolio zusammen!</strong> Das kostet keinen Cent, sondern ledigtlich ein paar Bonuspunkte. Ja, Sie haben richtig geh&ouml;rt, es kostet nur Bonuspunkte, und die können Sie als "Powersurfer" jederzeit problemlos im Rahmen unseres <a href="/achievements">Bonusprogramms</a> gewinnen. Auf diese Weise profitieren Sie gleich doppelt: Einerseits können Sie sich ihren Tarif so anpassen wie sie es brauchen. Und andererseits werden Sie endlich für Ihre treue Kundschaft bei uns belohnt. <strong>{{isp_name}} - Das haben Sie sich verdient</strong>.
	</p>
</div>
<div class="container">
	{% if orders %}
	{% for order in orders %}
	<div class="col-md-6 col-md-offset-1 upgrade-item">
		<h2 class="achievement-title">{{order.upgrade.title|escape}}</h2>
		{% if order.upgrade.image %}
		<img src="{{order.upgrade.image.url}}" class="img-thumbnail upgrade-image" />
		{% else %}
		<img src="{% static 'store/unknown.png' %}" class="img-thumbnail upgrade-image" />
		{% endif %}
		<p class="upgrade-desc">{{order.upgrade.description|escape}}</p>
		{% if order.state.role == 'available' %}
		<form action="{% url 'upgrade_order' %}" method="post">
		<p style="clear:both;">
			{% csrf_token %}
			<input type="hidden" name="upgrade" value="{{order.upgrade.id}}" />
			<button type="submit" class="btn btn-primary btn-xs">Jetzt bestellen für {{order.upgrade.price|escape}} Bonuspunkte</button>
		</p>
		</form>
		{% else %}
		<p style="clear:both;">Status: {{order.state.title|escape}}</p>
		{% endif %}
	</div>
	{% endfor %}
	{% else %}
	<p class="no-upgrades">Derzeit stehen keine Tarifoptionen zur Verfügung. Der {{isp_name}} Kundendienst wird Sie informieren, sobald neue Tarifoptionen verfügbar sind.</p>
	{% endif %}
</div>
{% endblock %}