{% load staticfiles %}
<div class="navbar navbar-default navbar-static-top" role="navigation">
	
	<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<img src="{% static 'store/isp_logo_head.png' %}" class="pull-left" id="nav-logo" style="margin:0px" />
				<ul class="nav navbar-nav" id="navitems">
					{% for url, label in nav_items %}
					<li{% if url == nav_active %} class="active"{% endif %}><a href="{% url url %}">{{label|escape}}</a></li>
					{% endfor %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="navbar-text">
						Guthaben: {{user.ctfuser.score}}
					</li>
					<li class="navbar-text" id="logged-who">
							Eingeloggt als <span class="logged-username">{{user|striptags}}</span>
					</li>
					<li id="logout">
						<a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
					</li>
				</ul>
			</div>
	</div>
</div>